.posts {
    flex: 4;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center
}

.posts .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: grey;
}